/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    background-color: #E0FFFF;
}

/* Estilos para o cabeçalho */
header {
    background-color: #E0FFFF;
    font-family: cursive;
    font-size: xx-small;
    letter-spacing: 1px;
    color: #120101;
    text-align: left;
    padding-left: 5vw; /* Alterado para usar vw para largura da janela de visualização */
    padding-top: 5vh; /* Alterado para usar vh para altura da janela de visualização */
    padding-bottom: 5vh; /* Alterado para usar vh para altura da janela de visualização */
    padding-right: 5vw; /* Alterado para usar vw para largura da janela de visualização */
}

/* Estilos para a barra de navegação */
nav {
    background-color: #095fab; /* Cor de fundo */
    padding: 20px 5vw; /* Alterado para usar vw para largura da janela de visualização */
    text-align: right;
}

nav ul {
    font-style: italic;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 15px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    padding: 10px 15px; /* Espaçamento interno */
    transition: background-color 0.5s ease; /* Transição suave da cor de fundo */
}

nav ul li a:hover {
    background-color: #beff27; /* Altera a cor de fundo ao passar o mouse */
    color: #120101;
}

/* Estilos para o conteúdo principal */
main {
    padding: 5vh 5vw; /* Alterado para usar vw e vh para largura e altura da janela de visualização */
    background-color: #E0FFFF;
}

section {
    text-align: center;
    color: #120101;
    font-size: 20px;
}

section h1 {
    padding: 10vh 0; /* Alterado para usar vh para altura da janela de visualização */
    font-family: impact;
    font-weight: 100;
}

footer p {
    font-family: cursive;
    margin: 0;
}

footer {
    background-color: #095fab;
    color: #fff;
    text-align: center;
    padding: 20px 5vw; /* Alterado para usar vw para largura da janela de visualização */
}
